@model Livro
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control"/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input type="number" class="form-control" asp-for="Ano" />
        </div>
        <div>
            <label asp-for="Quantidade">Quantidade</label>
            <input type="number" min="0" class="form-control" asp-for="Quantidade" />
        </div>
        <div>
            <label asp-for="ValorVenda">Valor Venda</label>
            <input type="number" step=".01" class="form-control" asp-for="ValorVenda" />
        </div>
        <div>
        <label asp-for="ValorAluguel">Valor Aluguel</label>
            <input type="number" step=".01" class="form-control" asp-for="ValorAluguel" />
        </div>

        <p class="text-danger mt-3">@ViewData["Erro"]</p>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>