@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Bem vindo ao sistema Biblioteca</h2>

    <div class="mt-4">
        <h2 class="display-5 font-weight-normal">Sistema de gerenciamento de biblioteca</h2>
        <p class="text-lg">Bem-vindo ao nosso sistema de gerenciamento de biblioteca! Com ele,
            você poderá organizar e controlar todos os aspectos da sua biblioteca de forma eficiente.
            Cadastre livros, autores, usuários e faça empréstimos de maneira simples e rápida. Além disso,
            nosso sistema oferece recursos avançados como busca por título, autor ou categoria, controle de
            devoluções e geração de relatórios. Aproveite todas as funcionalidades e tenha uma biblioteca
            organizada e acessível para todos!</p>
    </div>
</div>
