@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Bem vindo ao sistema Biblioteca</h2>

    <div class="mt-4">
        <h2 class="display-5 font-weight-normal">Sistema de gerenciamento de biblioteca</h2>
        <p class="text-lg">
            Bem-vindo ao nosso sistema de gerenciamento de biblioteca! Com ele,
            você poderá organizar e controlar todos os aspectos da sua biblioteca de forma eficiente.
            Cadastre livros, autores, usuários e faça empréstimos de maneira simples e rápida. Além disso,
            nosso sistema oferece recursos avançados como busca por título, autor ou categoria, controle de
            devoluções e geração de relatórios. Aproveite todas as funcionalidades e tenha uma biblioteca
            organizada e acessível para todos!
        </p>

        <h1 class="display-5 mt-5">Funções</h1>
        <div class="d-flex">
            <div class="card w-50 m-2">
                <h3 class="card-header">Cadastro de Livros</h3>
                <div class="card-body">
                    <p>
                        Cadastre livros com título, autor, categoria e quantidade de exemplares, além de poder editar e excluir os livros cadastrados.
                    </p>
                    <a href="/Livro/Listagem" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="card w-50 m-2">
                <h3 class="card-header">Cadastro de Empréstimos</h3>
                <div class="card-body">
                    <p>
                        Cadastre empréstimos com livro, usuário, data de empréstimo e data de devolução, além de poder editar e excluir os empréstimos cadastrados.
                    </p>
                    <a href="/Emprestimo/Listagem" class="btn btn-primary">Acessar</a>
                </div>
            </div>
            <div class="card w-50 m-2">
                <h3 class="card-header">Cadastro de Usuario</h3>
                <div class="card-body">
                    <p>
                        Cadastre usuários com nome, email, telefone e endereço, além de poder editar e excluir os usuários cadastrados.
                    </p>
                    <a href="/Usuario/Listagem" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
